html,
body {
    /* color: white; */
    background-color: gray;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family:cursive;
    min-width: 2rem;
    min-height: 100vh;
}

.center {
    padding: 0.2em 2em;
}

.title {
    background: rgba(44, 204, 236, 0.8);
    padding: 1.2em;
}

#realtime {
    letter-spacing: 0.2em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

/* .alarmtimebody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2em 2em 0 2em;
} */

.alarmtimebody{
    margin-bottom: 40px;
    display: flex;
    padding: 10px 20px;
    font-size: 2em;
    font-weight: 600;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}

#time{
    margin-bottom: 40px;
    display: flex;
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: 600;
    border: 2px solid rgba(0, 0, 0, 0.7);
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6),
    inset 5px 5px 20px rgba(255, 255, 255, 0.4);
}

#time div{
    position: relative;
    width: 60px;
    text-align: center;
    font-weight: 500;
    color: var(--clr);
}

#time div:last-child
{
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fbfbfb;
}

#time div:nth-child(2)::after
{
    animation:animate 1s steps(1) infinite;
}
@keyframes animate
{
    0%
    {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }    
}

#time div:nth-child(1)::after,
#time div:nth-child(2)::after
{
    content: ':';
    position: absolute;
    right: -4px;
}

#setButton {
    background: rgba(73, 230, 73, 0.8);
    border: none;
    font-size: 1rem;
    padding: 0.4em 1em;
    border-radius: 10px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.2);
    margin: 2em 2em 0 2em;
}

#setClear {
    background: rgba(255, 0, 0, 0.8);
    border: none;
    font-size: 1rem;
    padding: 0.4em 1em;
    border-radius: 10px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.2);
    margin: 2em 2em 0 2em;
}

.time {
    width: 100%;
    padding: 0.5em 0.6em;
    background: #87CEEB;
    border-color: white;
    border-radius: 6px;
}

.allalarms {
    padding-top: 2em;
}

hr {
    width: 70%;
}

button.delete {
    background: rgba(251, 4, 4, 0.5);
    border: none;
    font-size: 1rem;
    padding: 0.4em 1em;
    border-radius: 10px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.2);
    margin: 0.3em;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

label {
    letter-spacing: 0.1em;
    background: rgba(0, 0, 0, 0.1);
    padding: 0.5em;
    border-radius: 10px;
}

/*realtime desing*/

#realtime{
    background-color: black;
    display: inline-block;
    border-radius: 15px;
    box-shadow: 1px 0px 5px 2px white;
    color: red;
}

/* Wall clock */

.wall-clock-container
{
    position: relative;
    background: #2f363e;
    /* min-height: 300px; */
    border-radius: 20px;
    border-top-left-radius: 225px;
    border-top-right-radius: 225px;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.75),
    10px 50px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wall-clock
{
    position: relative;
    width: 200px;
    height: 200px;
    background: #2f363e;
    border-radius: 50%;
    box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.wall-clock::before
{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #2f363e;
    border: 3px solid #fff;
    border-radius: 50%;
    z-index: 100;
}

.wall-clock span 
{
    position: absolute;
    inset: 20px;
    color: #fff;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
}

.wall-clock span b {
    /* font-size: 2rem; */
    opacity: 0.25;
    font-weight: 600;
    display:inline-block;
    transform: rotate(calc(-30deg * var(--i)));
}

.circle
{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* z-index: 10; */
}
.circle i
{
    position: absolute;
    width: 6px;
    height: 50%;
    background: var(--clr);
    opacity: 0.75;
    transform-origin: bottom;
    transform: scaleY(0.5);
}

.circle:nth-child(1) i
{
    width: 2px;
}
.circle:nth-child(2) i
{
    width: 3px;
}

.circle2
{
    width: 80px;
    height: 80px;
    z-index: 9;
}
.circle3
{
    width: 60px;
    height: 60px;
    z-index: 8;
}

.circle::before
{
    content: '';
    position: absolute;
    top: -8.5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 20px var(--clr),
    0 0 60px var(--clr);
}

